@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    margin: 0;
	padding: 0;
	border: 0;
}	
/* General styles*/

#navbarNavAltMarkup{
    justify-content: flex-end;
}

body{
    background-color:#f5f4f4; 
}
a {
    text-decoration: none;
    color: #151010;
}
a:hover{
    color:pink;
}
.logo{
    width: 70px;
    height: 70px;
}
main{
    padding: 50px;
}
h1{
    padding-left: 10px;
    font-size: 5rem;
    font-weight: 100;
    color: pink;
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;

}
p{
    margin-left: 1.5rem;
}

/*index*/
.w-100{
    height: 470px;
}
h2{
    padding-left: 15px;
    font-size: 2.5rem;
    font-weight: 50;
    color: pink
}
.video-index{
    display: flex;
    justify-content: space-evenly;
}
.contenedor-index {
    display: flex;
    flex-direction: column;
    align-items: center;}
    
/*novedades*/
.video-container2{
    display: grid;
    grid-template-rows:  repeat(2,1fr);
    grid-row-gap: 2fr;
    height: 500px;
    width: 500px;
    margin-top: 40px;
    margin-left: 100px;
}
.video-container2 video{
    margin-top: 100px;
}
iframe{
    height: 300px;
    width: 483px;
}
.novedades{
    margin-top: -10%;
    padding: 10px;
    display: flex;
}
.article-container{
    padding: 30px;
}
 /*¿que hacemos?*/

.container-img{
    display: flex;
    padding: 5px;
    margin: 5px;
}
.column img{
    margin-top: 10px;
}
/*contacto*/

form{
    height: 100px;
    width: 50%;
    padding-left: 20px;
    margin-top: 100px;
}

/*que hacemos?*/
.imagenes-contenedor .lenceria img{
    width: 300px;
    height: 300px;
}
.imagenes-contenedor .deportivo img{
    width: 300px;
    height: 300px;
}
.imagenes-contenedor .fajas img{  
    width: 300px;
    height: 300px;
}
.imagenes-contenedor .traje-baño img{
    width: 300px;
    height: 300px; 
}

.lenceria{

display: flex;
flex-direction: row-reverse;
justify-content: left;}

.traje-baño{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;  
}

.deportivo{
    display: flex;
    justify-content: left;
}
.fajas{
    display: flex;
    justify-content: left;
}

.fajas img{
    padding: 20px;
}
.deportivo img{
    padding: 20px;
}
.lenceria img{
    padding: 20px;
}
.traje-baño img{
    padding: 20px;
}

/*media queries*/
@media only screen and (max-width:768px){

}

@media only screen and (max-width:576px){

    /*estilos gral.*/
h1 {
        padding-left: 10px;
        font-weight: 100;
        color: pink;
        font-size: 50px;
       }
           
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
}
}
 footer {
    flex-wrap: wrap;
    padding-top: 200px;
}
       
    /*index*/

iframe{
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/*Que hacemos*/

.imagenes-contenedor{
    flex-direction: column;
}
.fajas{
    flex-direction: column;
}
.deportivo{
    flex-direction: column;
}
.lenceria{
    flex-direction: column;
}
.traje-baño{
    flex-direction: column;
}