@mixin sizes ($width, $height){
    width: $width;
    height: $height;
}
form{
    @include sizes(100%,100px );
    padding-left: 20px;
    margin-top: 50px;
}
#boton{
   background-color: #151010;
   border-radius: 10px;
}