
.video-container2{
  display: flex;
  flex-direction: column;   
  padding: 50px;
}

iframe{
    @mixin sizes ($width, $height)
    {
        @include sizes(483px,400px);
    }
}
.novedades{
    margin-top: -10%;
    padding: 10px;
    display: flex;
}
.article-container{
    padding: 30px;
}
