.video-container2{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.video-container2 video{
    margin-top: 100px;
}
iframe{
    height: 300px;
    width: 483px;
}
.novedades{
    margin-top: -10%;
    padding: 10px;
    display: flex;
}
.article-container{
    padding: 30px;
}
