.imagenes-contenedor .lenceria img{
    width: $image-contenedor;
    height: $image-contenedor;
}
.imagenes-contenedor .deportivo img{
    width: $image-contenedor;
    height: $image-contenedor;
}
.imagenes-contenedor .fajas img{  
    width: $image-contenedor;
    height: $image-contenedor;
}
.imagenes-contenedor .traje-baño img{
    width: $image-contenedor;
    height: $image-contenedor; 
}

.lenceria{

display: flex;
flex-direction: row-reverse;
justify-content: left;}

.traje-baño{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;  
}

.deportivo{
    display: flex;
    justify-content: left;
}
.fajas{
    display: flex;
    justify-content: left;
}

.fajas img{
    padding: $image;
}
.deportivo img{
    padding: $image;
}
.lenceria img{
    padding: $image;
}
.traje-baño img{
    padding: $image;
}
