@import "index";
@import "contacto";
@import "novedades";
@import "que-hacemos";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
    margin: 0;
	padding: 0;
	border: 0;
}	
/*variables*/
/* General styles*/

body{
 background-color:#f5f4f4;
 #navbarNavAltMarkup{
        justify-content: flex-end;
    }
    .logo{
        width: 70px;
        height: 70px;
    }
    a {
        text-decoration: none;
        color: #151010;
    }
    a:hover{
        color:pink;
    }
}
main{
    padding: 50px;
    h1{
        padding-left: 10px;
        font-size: 5rem;
        font-weight: 100;
        color: pink;
    }
    p{
        margin-left: 1.5rem;
    }
    
   h2{
      padding-left: 15px;
      font-size: 1.5rem;
      font-weight: 60;
      color: pink
    }

   h3{
      padding-left: 15px;
      font-size: 1rem;
      font-weight: 50;
      color: pink
    }
    
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 300px;
}

/*media queries*/
@media only screen and (max-width:768px){

}
@media only screen and (max-width:576px){
    /*estilos gral.*/

 main{
    h1 {
        padding-left: 10px;
        font-weight: 60;
        color: pink;
        font-size: 1rem;
       }
    }

 p {
     margin-top: 0;
     margin-bottom: 0.5rem;
     font-size: 10px;
    }
   
 footer {
     flex-wrap: wrap;
     padding-top: 300px;
    }
   
 /*index*/

 .contenedor-index{
     display: flex;
     justify-content: space-between;
     flex-direction: column;
    iframe{
     width: 200px;
     height: 100px;
     margin-bottom: 30px;
     padding: 50px;  
    }
  }

 /*Que hacemos*/

 .imagenes-contenedor{
 flex-direction: column;
 }
 .fajas{
 flex-direction: column;
 }
 .deportivo{
 flex-direction: column;
 }
 .lenceria{
 flex-direction: column;
 }
 .traje-baño{
 flex-direction: column;
 }

}

    
